DATABASE_URL=mysql://root:<MYSQL_ROOT_PASSWORD>@localhost:3306/invoices
RABBITMQ_URL=amqp://<RABBITMQ_USER>:<RABBITMQ_PASSWORD>@localhost:5672
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=worker
