# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.turbo
out

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*
bun-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage
.nyc_output

# TypeScript
*.tsbuildinfo
