PORT=3000
DATABASE_URL=mysql://root:root@localhost:3306/invoices
RABBITMQ_URL=amqp://guest:guest@localhost:5672
JWT_SECRET=supersecret_changeme
OTEL_TRACES_EXPORTER=otlp
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
OTEL_SERVICE_NAME=backend
